.DS_Store
*.userprefs
Library
Temp
.cache
*.db
*.opendb
*.tlog
*.cache
*.pdb
*.obj
*.tlog
*.vpwhist
*.vtg
*.csproj
*.sln
UpgradeLog.htm
obj
.vs
Unity.RenderPipelines.Universal.Runtime.csproj.user
Logs
